// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

$primary= #2A77FF
$accent= #ce93d8
$secondary= #424242
$info= #0D47A1
$warning= #ffb300
$error= #B71C1C
$success= #2E7D32$
$white= #ffffff

.page
  @extend .fade-transition

.mutual-title 
    color: $white
    background: $primary
  